<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pollo al verdeo con crema liviana</title>
</head>
<body>
    <h1>Receta de Pollo al Verdeo Con Crema Liviana</h1>
    <p>Técnicamente, la crema liviana que acompaña este pollo al verdeo, reduce la intensidad de la siesta que te mandás después del plato. Está científicamente comprobado y así lo enseñan en las escuelas de alta gastronomía.

        Te lo juro por las nenas.</p>
    <hr>
    <h2>Ingredientes</h2>
    <h3>para 2 personas</h3>
    <ul>
        <li>1 pechuga de pollo grande</li>
        <li>5 cebollas de verdeo</li>
        <li>1 diente de ajo</li>
        <li>1 chorro de vino blanco</li>
        <li>1 caldito</li>
        <li>100cc. de crema de leche</li>
        <li>Sal, pimienta y aceite</li>
    </ul>
    <h2>Pasos a Seguir</h2>
    <ol>
        <li>Cortar la pechuga en trozos grandes. Calentar el aceite y dorar los trozos de ambos lados. No deben quedar demasiado dorados, apenas.</li>
        <li> Agregar al pollo las cebollas de verdeo, cortadas en rodajas gruesas, y el ajo picado. Cocer a fuego fuerte. Apenas un par de minutos, la cebolla de verdeo no debe ablandarse tanto como en otros sofritos.</li>
        <li>Agregar el chorro de vino y dejar al fuego uno o dos minutos, para que evapore el alcohol.</li>
        <li>Agregar el caldito, la sal, la pimienta y agua hasta cubrir apenas el pollo. Poner a fuego fuerte hasta que hierva, luego bajar el fuego y cocinar, tapado, una media hora.</li>
        <li>Una vez que esté listo, dejar unos minutos para que baje el calor y agregar la crema de leche. Mezclar hasta que la salsa se una. Quedará una salsa cremosa pero liviana. Servir acompañado de arroz como yo, puré, papas o lo que se te ocurra.</li> 
    </ol>
    <a href="https://www.paulinacocina.net/pollo-al-verdeo-con-crema/3220" target="_blank">
        Leer esta receta en <strong>Paulina Cocina</strong>
    </a>
    <br>
    <a href="tiramisuItaliano.html" target="_blank">
        Leer receta de <em>Tiramisú Italiano</em>
    </a>
    <br>
    <a href="../../index.html">
        Volver al inicio
    </a>
    
</body>
</html>